body{
    background-color: rgba(199, 199, 199, 0.733);
}

#content {
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}

#likedBooks {
    background-color: rgba(245, 241, 227, 0.836);
    border-radius: 3px;
}

.pickedB {
    background-color: rgb(212, 211, 216);

}